@page "/"

<div class="overlay">
	<canvas class="hearts"></canvas>
</div>

<TelerikWindow Modal="true" Visible="windowVisible" Width="100vw" Height="100vh">
    <WindowContent>
        <img src="/img/@(imageIndex).jpg" />
    </WindowContent>
</TelerikWindow>


@if (faces != null && faces.Count > 0) {
    <div class="results-wrapper">
        <ul>
            @foreach (var itemData in faces)
            {
                var item = itemData.DetectedFace;
                <li><img src="@itemData.Data" /></li>
                <li>AGE: @item.FaceAttributes.Age</li>
                <li>HAIR BALD: @item.FaceAttributes.Hair.Bald</li>
                <li>HAIR COLOR: @item.FaceAttributes.Hair.HairColor[0].Color</li>
                <li>HAIR INVISIBLE: @item.FaceAttributes.Hair.Invisible</li>
                <li>EYE MAKEUP: @item.FaceAttributes.Makeup.EyeMakeup</li>
                <li>LIP MAKEUP:@item.FaceAttributes.Makeup.LipMakeup</li>
                <li>FACIAL HAIR BEARD: @item.FaceAttributes.FacialHair.Beard</li>
                <li>PIC HEIGHT: @item.FaceRectangle.Height</li>
                <li>PIC WIDTH: @item.FaceRectangle.Width</li>
                <li>FACE TOP COORDS: @item.FaceRectangle.Top</li>
                <li>FACE LEFT COORDS: @item.FaceRectangle.Left</li>
                <li>Anger - @item.FaceAttributes.Emotion.Anger.ToString("p")</li>
                <li>Contempt - @item.FaceAttributes.Emotion.Contempt.ToString("p")</li>
                <li>Disgust - @item.FaceAttributes.Emotion.Disgust.ToString("p")</li>
                <li>Fear - @item.FaceAttributes.Emotion.Fear.ToString("p")</li>
                <li>Happiness - @item.FaceAttributes.Emotion.Happiness.ToString("p")</li>
                <li>Neutral - @item.FaceAttributes.Emotion.Neutral.ToString("p")</li>
                <li>Sadness - @item.FaceAttributes.Emotion.Sadness.ToString("p")</li>
                <li>Surprise -  @item.FaceAttributes.Emotion.Surprise.ToString("p")</li>
                <hr>
            }
        </ul>
    </div>
}

<div class="camera-wrapper">
    <Webcam @ref="Camera" />
    @if (devMode) {
        <TelerikButton Primary="true" OnClick="GetSnap" Class="zed">Take a Test Photo</TelerikButton>
    } else {
        <TelerikButton Primary="true" OnClick="StartAnalysis"  Class="zed">In the mood for love?</TelerikButton>
    }
    <!-- Toggle bits we don't want the our users to see -->
    <label>Developer: </label><TelerikSwitch @bind-Value="@devMode"  Class="zed"></TelerikSwitch>
</div>

    <TelerikNotification @ref="ErrorNotification" VerticalPosition="NotificationVerticalPosition.Top" HorizontalPosition="NotificationHorizontalPosition.Right" />
}

