@page "/"
<div class="camera-wrapper">
    <Webcam @ref="Camera" />

    <!-- I'm using a button here, but we can trigger this however we want -->
    <TelerikButton Primary="true" OnClick="GetSnap">Snap That Photo</TelerikButton>

    <!-- Toggle bits we don't want the our users to see -->
    <label>Developer: </label><TelerikSwitch @bind-Value="@DevMode"></TelerikSwitch>
</div>

@if (DevMode)
{
    <div class="results">

        <!-- We can do all sorts of fun with this image -->
        @if (data != null)
        {
            <img class="snapped-image" src="@data" />
        }

        @if (faces != null)
        {
            <ul>
                @foreach (var item in faces)
                {
                    <li>Anger - @item.FaceAttributes.Emotion.Anger.ToString("p")</li>
                    <li>Contempt - @item.FaceAttributes.Emotion.Contempt.ToString("p")</li>
                    <li>Disgust - @item.FaceAttributes.Emotion.Disgust.ToString("p")</li>
                    <li>Fear - @item.FaceAttributes.Emotion.Fear.ToString("p")</li>
                    <li>Happiness - @item.FaceAttributes.Emotion.Happiness.ToString("p")</li>
                    <li>Neutral - @item.FaceAttributes.Emotion.Neutral.ToString("p")</li>
                    <li>Sadness - @item.FaceAttributes.Emotion.Sadness.ToString("p")</li>
                    <li>Surprise -  @item.FaceAttributes.Emotion.Surprise.ToString("p")</li>
                }
            </ul>
        }
    </div>

    <TelerikNotification @ref="ErrorNotification" VerticalPosition="NotificationVerticalPosition.Top" HorizontalPosition="NotificationHorizontalPosition.Right" />
}